@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body {
    background:#051B24;
    padding: 40px 20px;
}
    
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    background: #E8F3F9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}
.todo-title h1 {
    color: #1a1a1a;
    text-align: center;
}
.input-section {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}
input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    transition: border-color 0.3s;
    outline: none;
}
button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}
button:hover {
    background: #45a049;
}
.add-btn{
    margin-right: 4px;
    background: #4CAF50;
    border-radius: 8px;
    padding: 8px 20px;
}
.sort-section {
   display: flex;
   justify-content: right;
}
.sort-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 10px;
}
.sort-button:hover {
    background: #eee;
}
.todo-section {
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.section-header {
    background: #f8f9fa;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}
.section-header-row{
    display: flex; 
    align-items: center; 
    gap: 10px;
}
.section-header h2 {
    font-size: 18px;
    color: #333;
}
.section-header .count {
    background: #e0e0e0;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 14px;
}
.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
}
.section-content.expanded {
    overflow: auto;
    max-height: 1000px;
}
.todo-item {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #f8f9fa;
    margin: 8px;
    border-radius: 8px;
    animation: slideIn 0.3s ease;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.todo-text {
    flex: 1;
    margin-right: 10px;
}
.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: #666;
}
.delete-btn {
    background: none;
    color: #8a2727;
    padding: 12px;
    border-radius: 100%;
}
.delete-btn:hover {
    background: #eee;
}
.chevron {
    transition: transform 0.3s ease;
    font-size: 20px;
}
.section-header.active .chevron {
    transform: rotate(180deg);
}
.checkbox{
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    border-radius: 100%;
    display: grid;
    place-content: center;
    margin-right: 10px;
    cursor: pointer;
}
.checkbox::before{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 -2 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
    transform: scale(0);
}
.checkbox:checked{
    background-color: #8d51e8;
    border-color: #8d51e8;
}
.checkbox:checked::before{
    transform: scale(1);
}

















/*au début l'element est totalement transparent ensuite l'element totalement opaque par "opacity"*/
/*@keyframes slideIn {/*faire une annimation*/
   /* from {
        opacity: 0;/*definit la transparence de l'element*/
        /*transform: translateY(-10px);/*deplace l'elément 10px vers le haut*/
    /*}
    to {
        opacity: 1;
        transform: translateY(0);/*ramene l'element a sa position d'origine*/
    /*}
}*/
